.Cities li{
    list-style-type: none;
    text-align: center;
}

.Cities ul{
    padding: 0;
}

h4{
    color: darkblue;
}
.col-md-6 p{
    color: darkblue;
    margin-top: 15px;
    font-weight: bold;

}
